@font-face {
  font-family: 'whisky_1780';
  src: url('../assets/fonts/whisky_1780.woff2') format('woff2'),
       url('../assets/fonts/whisky_1780.woff') format('woff'),
       url('../assets/fonts/whisky_1780.eot') format('eot');
       font-weight: normal;
}
.titleFont {
    font-family: 'whisky_1780', sans-serif;
}
.medium {
    font-family: '', sans-serif;
}
.bold {
    font-family: '', sans-serif;
}

html,
input {
    -webkit-font-smoothing: antialiased;
}
