@font-face {
  font-family: 'WeissRundgotisch';
  src: url('/Users/lucieletouze/Projets/Mandat/201803-joustingTime/04_developpement/public/assets/fonts/WeissRundgotisch.woff2') format('woff2'),
       url('') format('woff'),
       url('') format('eot');
       font-weight: normal;
}
.titleFont {
    font-family: 'WeissRundgotisch', sans-serif;
}
.medium {
    font-family: '', sans-serif;
}
.bold {
    font-family: '', sans-serif;
}

html,
input {
    -webkit-font-smoothing: antialiased;
}
