@media (max-width: 960px){
    h1 {
        font-size: 6em;
    }

    .menu ul li {
        width: 50%;
    }
    .menu ul li:nth-last-child(-n+2){
        display:none;
    }
    .seeMore {
        padding-top: 5%;
    }
    .seeMore a {
        width: 100%;
        text-align: center;
    }
    .awardsWrapper {
        width: 90%;
    }
    .keyText {
        flex-direction: column;
    }
    .keyText.left p{
        padding-right: 0;
    }
    .keyText.right p{
        padding-left: 0;
    }
    .keyText p {
        width: 100%;
        padding-bottom: 5%;
    }
}
@media (max-width: 800px){
    h1 {
        font-size: 6em;
    }
}
@media (max-width: 600px){
h1 {
        font-size: 4em;
    }
}
